<!-- Include SignalR JavaScript library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.9/signalr.min.js"></script>

@{
    ViewBag.Title = "Chat Window";
}
<h2>@ViewBag.Title.</h2>

<div>
    <input type="hidden" id="token" value="@ViewBag.token"/>
    <input type="text" id="messageInput" placeholder="Type a message" />
    <button id="sendButton">Send</button>
</div>

<ul id="messagesList"></ul>

<script src="/js/chathub.js"></script>

